<ion-view title="About the App">
	<ion-content class="padding">

		<div class="list card">

			<div class="row">
				<div class="col">
					<img src="www/img/design.png" width = "100%">
				</div>
				<div class="col col-75">
					<div class="item item-text-wrap">
						<h2>Design & Conceptualization</h2>
						<p>There are two sections in this app : About Me & About the App. </p>
<p>To separate information for these sections, I have designed this application using tabs layout.</p>
<p>About Me : </p>
		<p>The first tab is further divided into various sections: general details about me,my skills, education and hobbies.</p>
<p>About the App : </p>
		<p>The second tab i.e. the current tab gives description about : Design & Conceptualization, Implementation and why I want to be a front end developer.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
<div class="row">
				<div class="col">
					<img src="www/img/code.png" width = "100%">
				</div>
				<div class="col col-75">
					<div class="item item-text-wrap">
						<h2>Implementation</h2>
						<p> This app is targetted for mobile web and android devices. For this implementation I have used the Ionic framework : 
<a href="http://ionicframework.com/">link</a></p>
<p>Ionic framework enables ease of use and

			offers handy customizable components to enrich the look and feel of the
			application</p>
		<p> In this application I have tried

			to implement a variety of header and content styling. </p> <p> I have used the grid, cards and lists layouts to represent the different sections.</p>
<p>"Pictures speak a thousand words", rightly so! I have used appropriate images to convey or complement the information.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
<div class="row">
<div class="col">
					<img src="www/img/comp.png" width = "100%">
				</div>
				<div class="col col-75">
					<div class="item item-text-wrap">
						<h2>Why I want to be a Front End Developer</h2>
						<p>User experience is highly essential in today's world of programming and technology. I believe it is what differentiates two different applications offering the same functionality.</p>
		<p>Front End Development involves application of creativity to the fundamental model to make it visually appealing to the user and enabling ease of use.</p>
		<p> Creating rich user experience is an art in itself and I wish to pursue this genre of programming with keen interest.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>

	</ion-content>
</ion-view>
