<ion-view title="About Me">
	<ion-content class="padding">

		<div class="item item-thumbnail-left">
			<img src="www/img/thumbnail.png">
				<h2>Aishvarya Krishnan</h2>
				<p>Student @ Georgia Tech</p>
		</div>
		<div class="card">
			<div class="item item-divider">
				Here's a li'l bit about me..
			</div>

			<div class="item">

				<div class="item item-text-wrap">

					<img src="www/img/pic.png" align="left" width="25%" style="padding:10px;">

						<p> Hey there! </p>
						<p>I am a first year graduate student at Georgia Tech pursuing MS
							in Computer Science, with Machine Learning specialization. My
							main

							areas of interest are: Internet of Things, Data
							Science, Data Mining,
							Information Retrieval.
						</p>

						<p>
							I have successfully implemented various projects in Java and I
							am a

							beginner in Python programming. I have built a prototype to implement
							face detection and face recognition in Android Smart

							Phones towards my undergraduate thesis. At my full-time role at
							CapGemini India Pvt. Ltd., I implemented two large-scale

							web-based applications in the Java domain. The application for
							"Internal Security and Compliance Management" was developed

							for 100,000 users using Java ServerFaces and Spring MVC Architecture
							focusing on the protection and management of data. The

							other assignment based on SmartGWT technology was developed for the
							commercial aviation domain, to manage large amounts of

							data for tens of thousands of users and efficiently handle file
							synchronization on a NAS system. This project was developed

							on Agile Methodology, which involved direct client interaction and
							live code discussions.
						</p>
						<p>
							Now I have begun this exciting journey in the US - It's the onset of

							bountiful excitement and joy!

						</p>
						<p>As a part of my graduate coursework, I have taken Mobile
							Application & Service for Converged Networks course in which I

							am developing a mobile application for Android devices and using
							REST API for mobile web app to implement a location and

							messaging based application that helps GT users find company to car pool
							or walk from campus to home and vice-versa. I will

							be completing Machine Learning for Trading and Computation
							Complexity & Algorithms course this semester to strengthen my

							foundation in Algorithms and Machine Learning. I am working with
							a Professor in the College of Computing on information

							retrieval for disaster management using social media.
						</p>
						<p>Life is awesome!</p>
				</div>


			</div>
			<div class="card">
				<div class="item item-divider">
					Education
				</div>
				<div class="item item-text-wrap">

					<div class="item item-avatar">
						<img src="www/img/mum.png">
							<h2>Undergraduate (Class of 2012)</h2>
							<p>Bachelor of Engineering in Information

								Technology,
								University
								of Mumbai
							</p>
					</div>

					<div class="item item-avatar">
						<img src="www/img/gatech.png">
							<h2>Graduate (Class of 2016)</h2>
							<p>Master of Science in Computer Science, Georgia

								Institute of
								Technology
							</p>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="item item-divider">
					Things I love to do!
				</div>
				<div class="list card">
					<div class="item item-text-wrap">
						<div class="item item-thumbnail-left">

							<img src="www/img/prog.png">

								<h2>Programming</h2>
								<p>Exploring and learning about new technologies</p>
						</div>
					</div>
					<div class="item item-text-wrap">
						<div class="item item-thumbnail-left">
							<img src="www/img/freestyle.png">

								<h2>Art</h2>
								<p>Drawing, Painting, Singing, Dancing</p>
						</div>
					</div>
				</div>
				<div class="item item-text-wrap">
					<div class="item item-thumbnail-left">
						<img src="www/img/frame.png">

							<h2>Craft</h2>
							<p>Handicraft</p>
					</div>
				</div>
			</div>
			<div class="item item-text-wrap">
				<div class="item item-thumbnail-left">
					<img src="www/img/dance.png">

						<h2>Music & Dance</h2>
						<p>Music is divine and dance is full of life!</p>
				</div>
			</div>
		</div>
		<div class="item item-text-wrap">
			<div class="item item-thumbnail-left">
				<img src="www/img/beautiful.png">

					<h2>Gardening</h2>
					<p>Go Green!</p>
			</div>
		</div>
	</div>
		<div class="item item-text-wrap">
			<div class="item item-thumbnail-left">
				<img src="www/img/bike.png">

					<h2>Adventures</h2>
					<p>Trying new things..like riding bikes!</p>
			</div>
		</div>
	</div>
		<div class="item item-text-wrap">
			<div class="item item-thumbnail-left">
				<img src="www/img/food.png">

					<h2>Cooking</h2>
					<p>Experimenting with food, new recipes and of course eating!</p>
			</div>
		</div>
	</div>
	</div>

	</ion-content>
</ion-view>
